main {
  font-family: arial, sans-serif;
  font-size: 16px;
  margin: 0 auto;
  max-width: 600px;
}

textarea {
  width: 100%;
  min-height: 200px;
  display: block;
  margin: 10px 0;
}

#input {
  text-align: center;
}

button {
  font-size: 1.2em;
}

#encrypted,
#decrypted {
  background: #eee;
}

.error {
  background: red;
  color: #fff;
}

a.decrypt {
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: black;
}
